<div>
  <mat-accordion *ngFor="let row of data">
    <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel">
      <mat-expansion-panel-header>
        <mat-panel-title style="display: inline-block">
          {{row.group}} > {{row.criteria}}
          <span style="float: right"> Weightage: {{row.weightage}}%</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let rating of row.elements">
        <h4>{{rating.rating}}</h4>
        <p>{{rating.description}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
</div>
