

<div class="table-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header> rating </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">rating:</span>
        {{row.rating}}
      </mat-cell>
    </ng-container>

    <!-- appraisalCriteria Column -->
    <ng-container matColumnDef="appraisalCriteria">
      <mat-header-cell *matHeaderCellDef mat-sort-header> appraisalCriteria </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">appraisalCriteria:</span>
        {{row.appraisalCriteria}}
      </mat-cell>
    </ng-container>

    <!-- reviewCriteria Column -->
    <ng-container matColumnDef="reviewCriteria">
      <mat-header-cell *matHeaderCellDef mat-sort-header [hidden]="!authService.isReviewer"> reviewCriteria </mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="!authService.isReviewer">
        <span class="mobile-label">reviewCriteria:</span>
        {{row.reviewCriteria}}
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>