<div class="appraisal-summary">
  <!-- <mat-accordion>
    <mat-expansion-panel hideToogle *ngFor="let roles of rolesArray | keyvalue">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>{{roles.key}}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header> -->
  <!-- <div *ngFor="let role of roles; index as i">
    <app-appraisal-summary-card
      [role]="role"
      [appraisalReview]="appraisalReview"
      [appraisalCycle]="appraisalCycle"
      [isLast]="roles.length === i + 1"
    ></app-appraisal-summary-card>
  </div> -->
  <!-- </mat-expansion-panel>
  </mat-accordion> -->
  <div class="table-container mat-elevation-z8">
    <div class="userDetails">
      <table>
        <thead>
          <tr>
            <th scope="col">Reviewer Name</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Goals and objectives</th>
            <th scope="col">Personal Targets</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles; index as i">
            <td data-label="Reviewer Name">{{ role.reviewerId | idToName }}</td>
            <td data-label="Role">{{ role.reviewerType | workflowMap }}</td>
            <td data-label="Status">
              <b [ngClass]="additionalFields[role.id]?.indicator"></b
              >{{ additionalFields[role.id]?.indicator }}
              <span *ngIf="additionalFields[role.id]?.indicator === 'Ongoing'"
                >({{ additionalFields[role.id]?.daysRemaining }} days remain)</span
              >
            </td>
            <td data-label="Rating">
              <span *ngIf="role.complete">{{
                additionalFields[role.id]?.primaryRating
              }}</span>
              <span *ngIf="role.complete"> ({{ role.primaryScore }})</span>
            </td>
            <td data-label="Rating">
              <span *ngIf="role.complete">{{
                additionalFields[role.id]?.secondaryRating
              }}</span>
              <span *ngIf="role.complete"> ({{ role.secondaryScore }})</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
