<div class="rating">
  <div>
    <p>
      {{appraisal.reviewerId | idToName}} as
      {{appraisal.reviewerType}}
    </p>
    <p class="date">{{appraisal.from | customDate}}</p>
  </div>
  <div>
    <p *ngIf="appraisal?.rating >= 0">{{ratings[appraisal?.rating - 1]}}</p>
    <p *ngIf="appraisal?.rating < 0">0 - Not Rated</p>
    <p class="date">
      {{appraisal.from | customDate}} - {{appraisal.to | customDate}}
    </p>
  </div>
</div>
<p class="comment">{{appraisal?.comment | idToName}}</p>
<mat-divider></mat-divider>