<div mat-subheader>Rating</div>
<mat-list>
  <mat-list-item>
    <div>
      <div mat-line>{{appraisal?.reviewerId | idToName}} as {{appraisal?.reviewerType}}</div>
      <div mat-line>{{appraisal?.comment | idToName}}</div>
    </div>
    <div>
      <!-- <div mat-line>{{appraisal?.reviewerId | idToName}}</div>
      <div mat-line>{{appraisal?.reviewerId | idToName}}</div> -->
      <div mat-line class="date">{{appraisal?.to | date}}</div>
      <div mat-line>{{ratings[appraisal?.rating]}}</div>
    </div>
    <br>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>