<div class="rating">
  <div>
    <p>
      {{headersMap.get(appraisal.headerId)?.reviewerId | idToName}} as
      {{headersMap.get(appraisal.headerId)?.reviewerType}}
    </p>
    <p class="date">{{headersMap.get(appraisal.headerId)?.from}}</p>
  </div>
  <div>
    <p>{{ratings[appraisal?.rating - 1]}}</p>
    <p class="date">
      {{headersMap.get(appraisal.headerId)?.from}} - {{headersMap.get(appraisal.headerId)?.to}}
    </p>
  </div>
</div>
<p class="comment">{{appraisal?.comment | idToName}}</p>
<mat-divider></mat-divider>