.rating {
  display: grid;
  grid-template-columns: 1fr auto;
  & > :last-child {
    text-align: right;
  }
}
p {
  font-size: 13px;
  margin: 5px 0 0;
  &.date {
    color: #555;
    font-size: 12px;
  }
  &.comment {
    margin: 10px 0;
  }
}