.response-full-width {
  width: 100%;
  margin: 0 10px 0 0;
}

.appraisal-review-goal-review {
  .appraisal-review-goal-review--default {
    margin-top: 20px;
    border: 1px dotted #d2d2d2;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;
  }
  .appraisal-review-goal-review--write {
    border: 1px dotted #ffd007;
    background-color: #ffd0070a;
  }
  .reviews {
    .reviewed-by {
      font-weight: bold;
    }
    p {
      margin: 0;
      line-height: 18px;
      margin-top: 10px;
    }
  }
}

.mat-input-element:disabled {
  color: black;
}

::ng-deep .mat-select-disabled {
  .mat-select-value {
    color: black;
  }
  .mat-select-arrow {
    visibility: hidden;
  }
}

::ng-deep .inValid {
  .mat-form-field-underline {
    background-color: red !important;
  }
  .mat-select-arrow,
  .mat-select-value,
  .mat-form-field-infix {
    color: red !important;
    -webkit-text-fill-color: red !important;
  }
  .mat-select-placeholder {
    display: none;
  }
}
