<!-- SET GOALS -->
<div class="set-self-goals" *ngIf="setGoal">
  <div class="self-goals">
    <mat-label class="reviewed-by">Targets for current year</mat-label>
    <p *ngIf="setGoal.comment">{{setGoal.comment}}</p>
    <p *ngIf="!setGoal.comment">No targets set for current year</p>
  </div>
</div>


<!-- REVIEW GOALS -->
<div [ngClass]="showSubmit ? 'set-review-goals': 'set-self-goals'" *ngIf="reviewGoal">
  <mat-label class="reviewed-by" *ngIf="showSubmit">Targets for the next year</mat-label>
  <div class="review-goals">
    <mat-form-field *ngIf="showSubmit" class="response-full-width">
      <textarea style="width: 100%" [(ngModel)]="reviewGoal.comment" [ngModelOptions]="{ standalone: true }"
                matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=4 data-ng-minLength="10"
                placeholder="Set targets for the next year">
      </textarea>
    </mat-form-field>
  </div>
  <div class="self-goals" *ngIf="!showSubmit">
    <mat-label class="reviewed-by">Targets for next year</mat-label>
    <p *ngIf="reviewGoal.comment">{{reviewGoal.comment}}</p>
    <p *ngIf="!reviewGoal.comment">No targets set for next year</p>
  </div>
</div>
