.set-self-goals {
  background-color: white;
  border: 1px dotted #d2d2d2;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0 0 0;
  .self-goals {
    margin: 10px 0 0;
    p {
      margin-bottom: 0;
    }
  }
  .reviewed-by {
    font-weight: bold;
  }
}
.response-full-width {
  width: 100%;
  margin: 0 10px 0 0;
}
.set-review-goals {
  background-color: rgba($color: #cce5ff, $alpha: 0.5);
  border-radius: 4px;
  border: 1px solid #b8daff;
  color: #004085;
  padding: 10px;
  margin: 10px 0 0 0;
  .review-goals {
    margin: 10px 0 0;
    p {
      margin-bottom: 0;
    }
  }
  .reviewed-by {
    font-weight: bold;
  }
}
