<mat-vertical-stepper #stepper>
  <mat-step *ngFor="let goal of goals">
    <ng-template matStepLabel>{{goal?.criteria}}</ng-template>
    <app-criteria [goalReference]="goalReferences[goal?.orderId]"></app-criteria>
    <app-target [target]="targets[goal?.orderId]"></app-target>
    <app-rating [appraisal]="appraisalLong[goal?.orderId]"></app-rating>
    <app-radio-rating [ratingInput]="appraisalLong[goal?.orderId].rating" (updatedRating)="appraisalLong[goal?.orderId].rating = $event"></app-radio-rating>
    <div class="step-button">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next ></button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
      (ratingUpdated)="onRatingChanged($event)">
    </mat-star-rating>
    <div class="step-button">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>