<mat-vertical-stepper #stepper>
  <mat-step *ngFor="let goal of payload">
    <ng-template matStepLabel>{{goalsMap.get(goal.orderId).criteria}}</ng-template>
    <app-criteria [goalReference]="goalReferencesMap.get(goal?.orderId)"></app-criteria>
    <app-target [target]="targetsMap.get(goal?.orderId)"></app-target>
    <div mat-subheader>Rating</div>
    <div *ngFor="let appraisal of appraisalLongMap.get(goal?.orderId) | keyvalue">
      <app-rating [appraisal]="appraisal.value" [headersMap]="headersMap" [headers]="headers"></app-rating>
    </div>
    <app-radio-rating [ratingInput]="goal.rating" (updatedRating)="goal.rating = $event"></app-radio-rating>
    <div class="step-button">
      <button mat-raised-button matStepperPrevious>Previous</button>
      <button mat-raised-button color="primary" matStepperNext>Next ></button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <!-- <mat-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
      (ratingUpdated)="onRatingChanged($event)">
    </mat-star-rating> -->
    <div *ngFor="let descriptive of descriptives">
      <app-description [descriptive]="descriptive" [headersMap]="headersMap"></app-description>
    </div>
    <div class="description">
      <mat-form-field appearance="outline">
        <mat-label>Start</mat-label>
        <textarea style="width: 100%" [(ngModel)]="yourDescriptive.start" [ngModelOptions]="{ standalone: true }" matInput
          matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment required></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Stop</mat-label>
        <textarea style="width: 100%" [(ngModel)]="yourDescriptive.stop" [ngModelOptions]="{ standalone: true }" matInput
          matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment required></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To Continue</mat-label>
        <textarea style="width: 100%" [(ngModel)]="yourDescriptive.toContinue" [ngModelOptions]="{ standalone: true }" matInput
          matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment required></textarea>
      </mat-form-field>
    </div>
    <div class="step-button">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>