<mat-vertical-stepper #stepper (selectionChange)="stepChanged($event, stepper);">
  <mat-step *ngFor="let goal of payload">
    <ng-template matStepLabel>{{goalsMap.get(goal.orderId).criteria}}</ng-template>
    <app-criteria [goalReference]="goalReferencesMap.get(goal?.orderId)"></app-criteria>
    <app-target [target]="targetsMap.get(goal?.orderId)"></app-target>
    <div mat-subheader>Rating</div>
    <div *ngFor="let appraisal of appraisalLongMap.get(goal?.orderId) | keyvalue">
      <app-rating [appraisal]="appraisal.value" [headers]="headers"></app-rating>
    </div>
    <app-radio-rating [ratingInput]="goal.rating" [submitted]="submitted" (updatedRating)="goal.rating = $event"></app-radio-rating>
    <!-- <div mat-subheader>Comment</div>
    <div class="comment">
      <mat-form-field appearance="outline">
        <textarea style="width: 100%" [(ngModel)]="goal.comment" [ngModelOptions]="{ standalone: true }" matInput
          matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment></textarea>
      </mat-form-field>
    </div> -->
    <div class="step-button">
      <button mat-mini-fab color="basic" matStepperPrevious>
        <mat-icon matPrefix>chevron_left</mat-icon>
      </button>
      <button mat-mini-fab color="primary" matStepperNext>
        <mat-icon matSuffix>chevron_right</mat-icon>
      </button>
    </div>
  </mat-step>

  <mat-step *ngIf="payload.length > 0">
    <ng-template matStepLabel>Done</ng-template>
    <!-- <mat-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
      (ratingUpdated)="onRatingChanged($event)">
    </mat-star-rating> -->
    <div *ngFor="let descriptive of descriptives">
      <app-description [descriptive]="descriptive"></app-description>
    </div>
    <div class="description">
      <mat-form-field appearance="outline">
        <mat-label>Start</mat-label>
        <textarea style="width: 100%" [(ngModel)]="yourDescriptive.start" [ngModelOptions]="{ standalone: true }"
          matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment required [disabled]="submitted"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Stop</mat-label>
        <textarea style="width: 100%" [(ngModel)]="yourDescriptive.stop" [ngModelOptions]="{ standalone: true }"
          matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment required [disabled]="submitted"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>To Continue</mat-label>
        <textarea style="width: 100%" [(ngModel)]="yourDescriptive.toContinue" [ngModelOptions]="{ standalone: true }"
          matInput matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="4" data-ng-minLength="10"
          placeholder="Provide a comment to support your rating" #reviewComment required [disabled]="submitted"></textarea>
      </mat-form-field>
    </div>
    <!-- <div class="step-button">
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="submit()">
        Submit
        <mat-icon matSuffix>done_all</mat-icon>
      </button>
      <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
    </div> -->
  </mat-step>
</mat-vertical-stepper>


<footer *ngIf="!submitted">
  <div *ngIf="!error" layout="row" layout-align="center center" class="error">
    <!-- <mat-icon color="warn">error</mat-icon>
    <mat-label>
      <a title="Click to see Errors" (click)="openErrorDialog()">
        {{error?.error?.sectionOneError?.length}}
        errors
      </a>
    </mat-label> -->
  </div>
  <div *ngIf="error" layout="row" layout-align="center center" class="footer-button">
    <p class="submit-msg">Your self appraisal is submitted</p>
  </div>
  <div layout="row" layout-align="center center" class="footer-button">
    <button type="button" mat-raised-button (click)="cancel()">
      <mat-icon>done</mat-icon>
      Cancel
    </button>
    &nbsp;
    <button type="button" mat-raised-button (click)="submit()" color="primary">
      <mat-icon>done_all</mat-icon>
      Submit
    </button>
  </div>
</footer>