.mat-stepper-vertical {
  // margin: -2% -5% 0;
  background-color: #f0f0f0;
  padding: 20px 10% 70px;
  @media only screen and (max-width: 768px) {
    padding: 10px 10px 70px;
  }
  .mat-step {
    background-color: #f00;
  }
}
:host ::ng-deep .mat-vertical-stepper-header {
  padding: 12px 24px;
}
// Impossible Overrides using ng-deep
:host ::ng-deep .mat-list-item-content {
  display: grid !important;
  grid-template-columns: 1fr auto;
  padding: 0 !important;
  font-size: 14px;
}
:host ::ng-deep .mat-step-label {
  font-size: 20px;
  text-transform: capitalize;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
  }
}
:host ::ng-deep .mat-step-header {
  background-color: #455065 !important;
  @media only screen and (max-width: 768px) {
    padding: 10px;
  }
}
:host ::ng-deep .mat-vertical-content-container {
  background-color: #fcfcfc;
  margin: 0;
  border: 1px solid #45506530;
  .mat-vertical-content {
    @media only screen and (max-width: 768px) {
      padding: 10px;
    }
  }
}
:host ::ng-deep .mat-stepper-vertical-line::before {
  display: none;
}
:host ::ng-deep .mat-step {
  margin: 20px 0;
  @media only screen and (max-width: 768px) {
    margin: 10px 0;
  }
  &:first-of-type,
  &:last-of-type {
    margin: 0;
  }
  &:last-of-type {
    .mat-step-header {
      background-color: #45506595 !important;
    }
  }
}
.mat-subheader {
  padding: 10px 0 0 0;
  font-size: 18px;
}
.step-button {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
}
mat-star-rating {
  display: block;
  text-align: center;
}
.date {
  color: #999;
  font-size: 11px;
  text-align: right;
  margin: 0 0 5px 0;
}
.goal-reference {
  font-size: 13px;
}
.target {
  font-size: 13px;
}
.comment,
.description {
  display: grid;
  font-size: 13px;
  margin: 10px 0 0;
}

:host ::ng-deep .mat-step-header .mat-step-icon-state-done,
:host ::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #42d697 !important;
  color: white;
  + .mat-step-label {
    color: #42d697 !important;
  }
}
:host ::ng-deep .mat-step-header .mat-step-icon-selected {
  // background-color: $primary;
  background-color: #1492cc;
  color: white;
  + .mat-step-label {
    color: white !important;
  }
}
:host ::ng-deep .mat-step-header .mat-step-label {
  color: white;
}
:host ::ng-deep .mat-step-header .mat-step-icon {
  color: rgba(255, 255, 255, 1);
  background-color: #1492cc;
  font-size: 12px;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #1492cc;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #d6d8d9;
  border-top: 1px solid #999999;
  position: fixed;
  width: calc(100% - 20px);
  padding: 10px;
  bottom: 0px;
  right: 0px;
  align-items: center;
  .error {
    background-color: transparent !important;
    mat-label {
      vertical-align: super;
      a {
        color: red;
        cursor: pointer;
        margin: 0 0 0 5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer-button {
    float: right;
  }
  .submit-msg {
    color: green;
    font-weight: bold;
    margin: 0;
  }
}

// footer {
//   background-color: #d6d8d9;
//   border-top: 1px solid #999999;
//   position: fixed;
//   width: 100%;
//   bottom: 0px;
//   right: 0px;
// }
// .footer-button {
//   margin: 1%;
//   float: right;
// }
// .error {
//   margin: 1.5% 0 0 2%;
//   display: inline-block;
// }
// a {
//   color: red;
//   cursor: pointer;
//   margin-left: 10px;
// }
// a:hover {
//   text-decoration: underline;
// }
// mat-label {
//   vertical-align: super;
// }
// .submit-msg {
//   color: green;
//   font-weight: bold;
//   margin: 0 5px 0 0;
// }
