<h5>{{descriptive?.reviewerId | idToName}}</h5>
<p>{{descriptive?.reviewerType | idToName}}</p>
<div class="descriptive">
  <div class="line" [ngClass]="{'start': descriptive['start']}"></div>
  <div>
    <p>{{descriptive.start}}</p>
    <p class="date">{{descriptive?.from}}</p>
  </div>
  <div>
    <p class="date">{{descriptive?.to}}</p>
  </div>
</div>

<div class="descriptive">
  <div class="line" [ngClass]="{'stop': descriptive['stop']}"></div>
  <div>
    <p>{{descriptive.stop}}</p>
    <p class="date">{{descriptive?.from}}</p>
  </div>
  <div>
    <p class="date">{{descriptive?.to}}</p>
  </div>
</div>

<div class="descriptive">
  <div class="line" [ngClass]="{'continue': descriptive['toContinue']}"></div>
  <div>
    <p>{{descriptive.toContinue}}</p>
    <p class="date">{{descriptive?.from}}</p>
  </div>
  <div>
    <p class="date">{{descriptive?.to}}</p>
  </div>
</div>

<mat-divider></mat-divider>