:host {
  display: grid;
  // grid-template-columns: 1fr 23fr;
  align-items: center;
  mat-icon {
    &.start {
      color: #0570e4;
    }
    &.continue {
      color: #60992d;
    }
    &.stop {
      color: #bb0819;
    }
  }
}
h5 {
  margin: 10px 0 5px;
}
.descriptive {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0.5rem 0;
  border-left: 3px solid transparent;
  gap: 10px;
  line-height: 18px;
  align-items: center;
  // border-radius: .25rem;
  // color: #222;
  // background-color: #ddd;
  // border-color: #999;
  .line {
    display: grid;
    width: 6px;
    height: 60%;
    align-items: center;
    border-radius: 10px;
    &.start {
      // color: #004085;
      // background-color: #cce5ff;
      background-color: #0570e4;
    }
    &.continue {
      // color: #155724;
      // background-color: #d4edda;
      background-color: #60992d;
    }
    &.stop {
      // color: #721c24;
      // background-color: #f8d7da;
      background-color: #bb0819;
    }
  }
  & > :last-child {
    text-align: right;
    align-items: flex-end;
  }
}
p {
  font-size: 13px;
  margin: 0;
  &.date {
    font-size: 12px;
  }
  &.comment {
    margin: 10px 0;
  }
}
