.response-form {
  min-width: 150px;
  width: 70%;
}

.response-full-width {
  width: 100%;
}
.response{
  margin-left: 2%;
}

mat-icon{
  vertical-align: sub;
}
.score{
  border: none;
  padding: 0px;
}
