
<div class="appraisal-landing" *ngIf="appraisalReview">
  <mat-tab-group>
    <mat-tab label="Goals and objectives">
      <div *ngIf="appraisalGoals" class="tab-body-container">
        <mat-accordion>
          <mat-expansion-panel class="expansion-panel" #mep="matExpansionPanel" *ngFor="let group of jobGoalsGroup">
            <mat-expansion-panel-header>
              <mat-panel-title style="display: inline-block">
                {{ group }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let jobGoal of jobGoals; let x = index; trackBy: trackByIndex">
              <app-appraisal-review-goal
                *ngIf="jobGoal.group === group"
                [jobGoal]="jobGoal"
                [appraisalGoals]="appraisalGoals"
                [appraisalReview]="appraisalReview"
                (changeGoalReview)="changeGoalReview($event)">
              </app-appraisal-review-goal>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>{{ cuGoals[0]?.group }}</ng-template>
      <div class="tab-body-container">
        <div *ngFor="let cuGoal of cuGoals; let x = index; trackBy: trackByIndex">
          <app-appraisal-review-goal
            [jobGoal]="cuGoal"
            [appraisalGoals]="appraisalGoals"
            [appraisalReview]="appraisalReview"
            (changeGoalReview)="changeGoalReview($event)">
          </app-appraisal-review-goal>
        </div>
      </div> 
    </mat-tab>
    <mat-tab label="Summary">
      <app-appraisal-summary [appraisalReview]="appraisalReview"></app-appraisal-summary>
    </mat-tab>
  </mat-tab-group>

  <footer>
    <div *ngIf="showSubmit" layout="row" layout-align="center center" class="footer-button">
      <button type="button" mat-raised-button (click)="submitAppraisal()"
              class="btn btn-outline-primary sharp">
        <mat-icon>done</mat-icon>
        Submit
      </button>
      &nbsp;
      <button type="button" mat-raised-button color="primary" (click)="saveAsDraft()"
              class="btn btn-outline-primary sharp">
        <mat-icon>create</mat-icon>
        Save as Draft
      </button>
    </div>
    <div *ngIf="!showSubmit" layout="row" layout-align="center center" class="footer-button">
      <p class="submit-msg">Your self appraisal is submitted</p>
    </div>
  </footer>
</div>
