<div *ngIf="!authService.isAdministrator">
  <h2>{{this.daysdiff |  number : '1.0-0'}} day/s to go</h2>
  <p><b>Evaluation period: </b>{{cycle.evaluationPeriod}}</p>
  <p><b>Self appraisal deadline:</b> {{cycle.selfAppraisalDeadline | date}}</p>
</div>

<div *ngIf="authService.isAdministrator">
  <p><b>Self Review: </b>{{status?.selfReview}}</p>
  <p><b>Head Review:</b> {{status?.headReview}}</p>
  <p><b>Scheduled:</b> {{status?.scheduled}}</p>
  <p><b>Closed:</b> {{status?.complete}}</p>
</div>


<br>
<button mat-stroked-button class="btn btn-outline-primary sharp" [routerLink]="['/appraisal']" [queryParams]="{id: '5f59c26f19cb199b44a5ac4a'}">
  <mat-icon>play_arrow</mat-icon>
  Start Appraisal
</button>
&nbsp;
<button mat-stroked-button class="btn btn-outline-primary sharp" (click)="openSupportDialog()">
  <mat-icon>email</mat-icon>
  Contact support
</button>
<!--&nbsp;-->
<!--<button mat-stroked-button class="btn btn-outline-primary sharp"  (click)="help()">-->
  <!--<mat-icon>block</mat-icon>-->
  <!--How to unblock content on my browser?-->
<!--</button>-->


<div>
  <br /><br />All Cycles from NgRx<br/>
  <pre>{{cycles | json}}</pre>
  <br /><br />All Users from NgRx<br/>
  <pre>{{users | json}}</pre>
  <br /><br />All Roles from NgRx<br/>
  <pre>{{roles | json}}</pre>
  <br /><br />All Appraisal Reviews from NgRx<br/>
  <pre>{{appraisalReviews | json}}</pre>
  <br /><br />All Goals from NgRx<br/>
  <pre>{{goals | json}}</pre>
</div>