<div *ngIf="!authService.isAdministrator">
  <h2>{{this.daysdiff |  number : '1.0-0'}} day/s to go</h2>
  <p><b>Evaluation period: </b>{{cycle.evaluationPeriod}}</p>
  <p><b>Self appraisal deadline:</b> {{cycle.selfAppraisalDeadline | date}}</p>
  <br>
  <button mat-stroked-button class="btn btn-outline-primary sharp" routerLink="/self-appraisal">Act Now</button>
  &nbsp;
  <button mat-stroked-button class="btn btn-outline-primary sharp" routerLink="/home">Need support</button>
</div>

<div *ngIf="authService.isAdministrator">
<p><b>Self Review: </b>{{status.selfReview}}</p>
<p><b>Head Review:</b> {{status.headReview}}</p>
<p><b>Scheduled:</b> {{status.scheduled}}</p>
<p><b>Closed:</b> {{status.complete}}</p>
</div>
