<mat-form-field class="searchbar">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by employee name">
</mat-form-field>

<!-- 
<button mat-stroked-button class="mat-primary notify" (click)="openNotifyDialog()">
  <mat-icon>notifications</mat-icon>
  Send Notification
</button> -->

<div class="table-container mat-elevation-z8">
  <div class="userDetails">
    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Your roles</th>
          <th scope="col">Status</th>
          <!-- <th scope="col">Action</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of rolesView" (click)="viewAppraisal(role)">
          <td scope="row" data-label="Name">{{role.employeeId | idToName}}</td>
          <td data-label="Your roles">
            <span *ngFor="let reviewerType of role.reviewerType">
              {{reviewerType | workflowMap}}<br/>
            </span>
          </td>
          <td data-label="Status">{{appraisalReviewMap[role.employeeId]?.status | workflowMap}}</td>
          <td>
            <button mat-button matTooltip="View Workflow" matTooltipPosition="before" class="mat-primary" (click)="openSummaryDialog(role); $event.stopPropagation();">
              <mat-icon>read_more</mat-icon> Workflow
            </button>
            <!-- <button mat-icon-button matTooltip="Send Appraisal Reminder" matTooltipPosition="before" class="mat-primary" (click)="openNotifyUserDialog(role); $event.stopPropagation();">
              <mat-icon>mail_outline</mat-icon>
            </button> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
