<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-stroked-button class="mat-primary notify" (click)="openNotifyDialog()">
  <mat-icon>notifications</mat-icon>
  Send Notification
</button>

<div class="table-container mat-elevation-z8">
  <div class="userDetails">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles" (click)="viewAppraisal(role)">
          <td>{{role.employeeId | idToName}}</td>
          <td>Pending</td>
          <td>
            <button mat-icon-button matTooltip="View Appraisal Cycle" matTooltipPosition="before" class="mat-primary" (click)="viewAppraisal(role)">
              <mat-icon>assessment</mat-icon>
            </button>
            <button mat-icon-button matTooltip="View Appraisal Cycle" matTooltipPosition="before" class="mat-primary" (click)="openNotifyUserDialog(role)">
              <mat-icon>mail_outline</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
